@media (max-width:1084px) {
    #home {
        overflow: hidden;
        min-height: 500vh;
    }
    #home .navbar {
        width: 100%;
        height: 45px;
        background: rgba(93, 152, 240, 0.999);
        flex-direction: row;
    }
    #home .logo {
        font-size: 28px;
        margin-top: 0px;
        margin-left: 25px;
    }
    .navbar-item {
        display: none;
    }
    #home .bar {
        display: flex;
        font-size: 24px;
        position: relative;
        left: -20px;
        height: 35px;
        width: 35px;
        padding: 5px 7.5px;
        background: rgba(255, 255, 255, 0.3)
    }
    #home .sign-up {
        display: none;
    }
    .home-about-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .home-about .left {
        position: relative;
        width: 100%;
        height: 70vh;
        padding-top: 25px;
        padding-left: 10px;
        font-size: 14px;
    }
    .home-about .btn {
        position: relative;
        top: -10px;
        margin: 0px 25%;
    }
    .home-about .right {
        width: 100%;
        height: 70vh;
    }
    .home-about .right img {
        position: relative;
        top: -30px;
        left: 0px;
        width: 90%;
        height: 200px;
        border-radius: 25px;
        margin: 0px 15px;
    }
    .home-about .img {
        position: absolute;
        top: 420px;
        left: 5px;
        width: 100%;
    }
    #home .lessons {
        position: relative;
        top: -100px;
        height: 750px;
    }
    #website h3 {
        position: relative;
        width: 30%;
        left: 10px;
        top: 30px;
    }
    #website .null {
        top: 45px;
        left: 50px;
        width: 70%;
    }
    #home .text {
        margin: 50px 5px;
        text-align: center;
    }
    #home .lessons .content {
        position: relative;
        left: 0px;
        margin: 0px 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 420px;
        border: 0px;
        background: rgba(168, 196, 239, 0.1);
    }
    #home .content-item {
        position: relative;
        top: -30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #home .content .row {
        position: relative;
        width: 95%;
        height: 300px;
        margin: 10px 7.5px;
        overflow: hidden;
        font-size: 14px;
    }
    #home .content .row-item {
        position: relative;
        top: 15px;
    }
    #home .content img {
        position: relative;
        top: 10px;
        width: 100%;
        height: 150px;
        border-radius: 5%;
    }
    #home .content a {
        font-size: 12px;
    }
    #home .content .row p {
        font-size: 16px;
    }
    #home .content .row-footer {
        top: 7.5px
    }
    #home .row-footer .summa {
        font-size: 16px;
    }
    .summa p {
        margin-top: -5px;
        margin-left: 10px;
    }
    #home .content .fa-lightbulb {
        position: relative;
        top: -5px;
        left: 120px;
        font-size: 24px;
        color: rgba(91, 151, 242, 0.999);
    }
}