@media (max-width:1084px) {
    #home .navbar {
        width: 100%;
        height: 45px;
        background: rgba(93, 152, 240, 0.999);
        flex-direction: row;
    }
    #home .logo {
        font-size: 28px;
        margin-top: 0px;
        margin-left: 25px;
    }
    .navbar-item {
        display: none;
    }
    #home .bar {
        display: flex;
        font-size: 24px;
        position: relative;
        left: -20px;
        height: 35px;
        width: 35px;
        padding: 5px 7.5px;
        background: rgba(255, 255, 255, 0.3)
    }
    #home .sign-up {
        display: none;
    }
    .home-about-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .home-about .left {
        position: relative;
        width: 100%;
        height: 70vh;
        padding-top: 25px;
        padding-left: 10px;
        font-size: 14px;
    }
    .home-about .btn {
        position: relative;
        top: -10px;
        margin: 0px 30%;
    }
    .home-about .right {
        width: 100%;
        height: 70vh;
    }
}