#website {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}

#home {
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
}

#home .navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(93, 152, 240, 0.999);
    flex-direction: row;
}

#home .logo {
    font-size: 48px;
    margin-top: -10px;
    margin-left: 25px;
}

#home B {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    width: 30px;
    color: #000;
    background: rgba(91, 151, 242, 0.999);
    background: blur;
    border: 0px;
}

.navbar-item {
    display: flex;
    width: 30%;
    position: relative;
    left: 0px;
}

.navbar-item a {
    padding: 0px 40px;
    font-size: 19px;
    font-weight: 100;
    text-decoration: none;
    color: #000;
}

.navbar-item a:hover {
    width: 30%;
    height: 30px;
    padding-top: 2.5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #fefaf5;
    transform: scale(105%);
    transition: .5s ease;
}

#home .sign-up {
    position: relative;
    top: 5px;
    right: 15px;
    display: flex;
    font-size: 18px;
}

#home .sign-up:hover {
    cursor: pointer;
}

.sign-up i {
    padding-right: 5px;
    font-size: 28px;
}

.home-about {
    flex-direction: column;
}

.home-about-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.home-about .left {
    width: 45%;
    height: 70vh;
    padding-top: 75px;
    padding-left: 100px;
}

.home-about .right {
    width: 55%;
    height: 70vh;
}

.home-about .right img {
    position: relative;
    top: 50px;
    left: 120px;
    width: 65%;
    height: 300px;
    border-radius: 25px;
}

.home-about .img {
    position: absolute;
    top: 75px;
    width: 55%;
}

.home-about .img img {
    margin-left: -20px;
    width: 65%;
    opacity: .5;
    box-shadow: 15px 15px 45px rgba(0, 0, 0, .9);
}

.home-about .btn {
    position: relative;
    top: -10px;
    width: 50%;
    height: 40px;
    border-radius: 0px;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    border-top: none;
    border-right: none;
}

.home-about .btn:hover {
    transform: scale(105%);
    background: rgba(0, 0, 0, .1);
    animation: btnanimation 1s linear;
    transition: .5s ease;
}

#home .lessons {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(164, 195, 241, 0.5)
}

#website h3 {
    position: relative;
    width: 10%;
    left: 100px;
    top: 50px;
    background: rgba(91, 151, 242, 0.999);
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .5)
}

#website .null {
    position: absolute;
    top: 70px;
    left: 150px;
    width: 80%;
    height: 1px;
    background: rgba(91, 151, 242, 0.999);
}

#home .text {
    margin: 70px 50px;
    text-align: center;
}

#home .lessons .content {
    position: relative;
    left: 0px;
    margin: 0px 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 420px;
    border: 0px;
    background: rgba(168, 196, 239, 0.1);
}

#home .content-navbar a {
    text-align: end;
    text-decoration: none;
    margin: 12.5px 15px;
}

#home .content-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home .content .row {
    position: relative;
    width: 30%;
    height: 400px;
    border: 0px solid #000;
    margin: 10px 20px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

#home .content .row:hover {
    cursor: pointer;
    position: inherit;
}

#home .content .row-item {
    position: relative;
    top: 15px;
}

#home .content img {
    position: relative;
    top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 5%;
}

#home .content img:hover {
    transform: scale(110%);
    transition: .5s ease;
}

#home .content a {
    text-decoration: none;
    background: rgba(91, 151, 242, 0.999);
    font-size: 18px;
    color: #000;
}

#home .content .row p {
    font-size: 20px;
    font-weight: 100;
    color: rgba(0, 0, 0, .4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home .content .row-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10px
}

#home .row-footer .summa {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.summa p {
    margin-top: -7.5px;
    margin-left: 15px;
}

.summa i {
    color: rgb(234, 234, 49);
}

#home .content .fa-lightbulb {
    position: relative;
    top: -5px;
    left: 190px;
    font-size: 28px;
    color: rgba(91, 151, 242, 0.999)
}

#home .content .fa-lightbulb:hover {
    color: rgba(0, 0, 0, .75);
}

.lesson-unit {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    z-index: 999;
    justify-content: center;
    margin-top: 100px;
    overflow: hidden;
}

.lesson-unit .row {
    position: relative;
    left: 150px;
    margin-left: 120px;
    width: 70%;
    height: 160px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .09);
    background: #f1f1f1;
    border-radius: 5px;
    animation: lessonRow 10s infinite;
}

@keyframes lessonRow {
    0% {
        left: 300px;
    }
    50% {
        left: 0px
    }
    100% {
        left: -500px;
    }
}

.lesson-unit .row:hover {
    transform: scale(105%);
    transition: .5s ease;
}

.lesson-unit .icon {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 15px;
    padding: 10px;
}

.lesson-unit .icon i {
    position: relative;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.lesson-unit .icon i:nth-child(1) {
    top: 20px;
    left: 5px;
}

.lesson-unit .icon i:nth-child(2) {
    top: 5px;
}

.lesson-unit .icon i:nth-child(3) {
    top: 20px;
    left: -5px;
}

.lesson-unit .fa-chart-bar {
    left: -5px;
}

.lesson-unit .name {
    font-size: 20px;
    margin: 0px 20px;
    color: rgba(93, 152, 240, 0.999);
}

.lesson-unit p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #9f9f9f;
    font-size: 22px;
    margin: 0px 5px;
    text-align: center;
}

.algoritm {
    width: 100%;
    height: 90vh;
    position: relative;
    /* background: rgba(93, 152, 240, 0.5) */
}

.algoritm-field {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.algoritm-field .algoritm-img {
    position: absolute;
    width: 50%;
    height: 60vh;
    background: url("https://blog.hackajob.co/content/images/2021/03/AdobeStock_157639237.jpeg");
    background-position: center center;
    background-size: cover;
    top: 100px;
    left: 22.5%;
}

.algoritm .algoritm-name {
    width: 250px;
    height: 100px;
    background: rgba(0, 0, 0, .2);
    position: relative;
    top: 65px;
    left: 180px;
    color: rgba(91, 151, 242, 0.999);
}

.algoritm .algoritm-name:hover {
    background: rgba(255, 255, 255, .7);
    color: #222;
    transition: .5s ease;
}

.algoritm .algoritm-information:hover {
    background: rgba(255, 255, 255, .7);
    color: #222;
    transition: .5s ease;
}

.algoritm .algoritm-name h1 {
    position: relative;
    top: 25px;
    left: 40px;
}

.algoritm h1::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgba(91, 151, 242, 0.999);
}

.algoritm-text {
    width: 30%;
    height: 120px;
    background: rgba(0, 0, 0, .2);
    position: relative;
    left: 65%;
    top: -30px;
    justify-content: center;
    color: #ddd;
}

.algoritm-text:hover {
    background: rgba(255, 255, 255, .7);
    color: #222;
    transition: .5s ease;
}

.algoritm-text p {
    position: relative;
    top: 20px;
    margin: 0px 10px;
    justify-content: center;
    text-align: center;
}

.algoritm-information {
    width: 25%;
    height: 220px;
    background: rgba(0, 0, 0, .3);
    position: relative;
    top: 158px;
    left: 850px;
    justify-content: center;
    text-align: center;
    color: #ddd;
}

.algoritm-information p {
    position: relative;
    top: 15px;
}

.algoritm-information .row {
    margin-top: 20px;
}

.algoritm-information i {
    font-size: 48px;
    color: whitesmoke;
}

.algoritm .btn {
    position: relative;
    width: 20%;
    height: 50px;
    top: 50px;
    justify-content: center;
    left: 65%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    text-transform: uppercase;
    padding-top: 10px;
}


/* #home .content a:hover:after {
    position: absolute;
    content: " ";
    width: 50%;
    height: 1px;
    background: rgba(91, 151, 242, 0.999);
} */


/* #home .content .img {
    position: relative;
    width: 100%;
    height: 200px;
    background: url(https://roboschool.pro/content/uploads/2020/08/31-1024x683.jpg);
    background-position: center;
    background-size: cover;
} */


/* 
#home .program {
    position: relative;
    width: 100%;
    height: 110vh;
    background: rgba(255, 255, 255, 0.9);
}

.program-field {
    position: relative;
    top: 50px;
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: 0px 95px;
}

.program-field .program-block {
    width: 100%;
    height: 90vh;
    position: absolute;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, .09)
}

.program-block img {
    width: 100%;
    height: 100%;
}

.program-information {
    position: relative;
    justify-content: center;
    display: none;
} */